body {
  margin: 0;
  padding: 0;
}

#params-container {
  z-index: 10;
  position: relative;
  top: 0px;
  width: 200px;
  background-color: gray;
  height: 100vh;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
